.chart-card {
    width: 100%; /* Adjust according to your layout and margins */
    max-width: none;
    height: 50%;
    display: flex;
    flex-direction: column;
  }
  
  .card-body {
    flex-grow: 1;
    height: 300px;
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .header-left h3 {
    margin: 0;
  }
  
  .legend {
    display: flex;
    align-items: center;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .light-green {
    background-color: #6ab04c; /* Light green */
  }
  
  .pink {
    background-color: #ff6b6b;
  }
  