.right-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
     /* Add border */
  }
  
  .icon-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .icon2 {
    font-size: 60px;
    color: #555;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent; /* Remove background color */
  }
  
  .text2 {
    color: #555;
    font-size: 18px;
  }
  