.right-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
  }
  
  .icon-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .icon2 {
    font-size: 60px; /* Adjust the icon size */
    color: #555;
    border-radius: 50%; /* Make the icon rounded */
    width: 100px; /* Set a fixed width */
    height: 100px; /* Set a fixed height */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc; /* Grey background color */
  }
  
  .text2 {
    color: #555;
    font-size: 18px;
  }
  